@import url(http://fonts.googleapis.com/css?family=Nunito:300,400);

body
{
	margin: 0px;
	padding: 0px;
	font-family: 'Nunito', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #000000;
	height: 100%
}

	.title
	{
		margin-bottom: 1em;
	}

	.title h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 2em;
		color: #171717;
		margin-top:0px;
		margin-left:0px;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}
	
	.title .byline2{
		letter-spacing: 0.15em;
		font-weight: 400;
		font-size: 0.90em;
	}